.simon {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid black;
    box-sizing: border-box;
}
